page-proximos-de-voc {
    .item{
        height: 100%;
        width: 100%;
    }
   /* .lista{
        background-color: white;
    }
    .item{
      background: gray;
      border-width: 2px;
      border-color: green;  
      width: 50%;
    }
    .item-lista2{
        width: 40%;
        padding-left: 8%;
        
      }
      .item-getlista2{
        position: initial;
        width: 50%;
        color: #000;
        background-color: white;
        padding-right: 5%;
        padding-left: 55%;
        margin-top: -10%;
      }*/
}
