page-estabelecimento-perfil {
        .item-lista{
            width: 30%;
            padding-left: 2%;
          }
          .item-getlista{
            position: initial;
            color: #000;
            padding-right: 5%;
            padding-left: 23%;
            margin-top: -10%;
          }
          #perfil-button9{
            background-color: red;
            color: white;
          }
    
}
