page-perfil {
    .item-lista{
        width: 30%;
        padding-left: 2%;
      }
      .item-getlista{
        position: initial;
        color: #000;
        width: 66%;
        padding-left: 34%;
        margin-top: -10%;
      }
      #perfil-button9{
        background-color: red;
        color: white;
      }
}
